	* {
		padding: 0;
		margin: 0;
	}
	
	.border {
		border: 1px solid red;
	}
	
	.container {
		width: 1000px;
		margin: auto;
	}
	
	.float-left {
		float: left;
	}
	
	.float-right {
		float: right;
	}
	
	.clear {
		clear: both;
	}
	
	.header {
		width: 100%;
		height: 100px;
		background-color: #07CBC9;
	}
	
	.header img {
		width: 300px;
		height: 85px;
		padding-left: 100px;
		padding-top: 8px;
	}
	
	.header .logo {
		float: left;
	}
	
	.header .nav {
		float: right;
	}
	
	.header .nav ul {
		margin-right: 100px;
	}
	
	.header .nav ul li {
		float: left;
		list-style: none;
		width: 80px;
		height: 100px;
		line-height: 100px;
		font-size: 15px;
		font-weight: bolder;
		color: white;
	}
	
	.header .nav ul li a {
		height: 100px;
		width: 200px;
		color: white;
		text-decoration: none;
	}
	
	.header .nav ul li a:hover {
		color: #213123;
	}
	
	.banner .top {
		width: 100%;
		height: 600px;
	}
	
	.banner .top img {
		width: 100%;
		height: 600px;
	}
	
	.banner .topLayer {
		position: absolute;
		top: 100px;
		left: 0;
		background-color: #000;
		width: 100%;
		height: 600px;
		opacity: 0.5;
	}
	
	.banner .topLayer-top {
		width: 500px;
		position: absolute;
		top: 100px;
		margin-top: 100px;
		z-index: 2;
		right: 50%;
		margin-right: -250px;
		text-align: center;
	}
	
	.banner .topLayer-top div {
		width: 100%;
		text-align: center;
		position: relative;
		border: 2px solid #808080;
		padding: 7px;
		margin: 12px 0px;
	}
	
	.banner .topLayer-top .input2 {
		height: 100px;
	}
	
	.banner .topLayer-top input {
		width: 500px;
		position: absolute;
		border: 0;
		height: 18px;
		background-color: transparent;
		display: block;
		color: #fff;
		font-size: 13px;
		font-weight: bolder;
		font-family: "微软雅黑";
		outline: none;
	}
	
	.banner .topLayer-top .send-message {
		width: 150px;
		text-align: center;
		margin-top: 36px;
		line-height: 30px;
		color: #808080;
		margin-left: 175px;
	}
	
	.footer {
		width: 100%;
		height: 100px;
		background-color: #07CBC9;
		color: #ffffff;
		text-align: center;
		line-height: 100px;
		font-family: "微软雅黑";
		font-size: 15px;
	}
	
	.description {
		color: #9D948B;
		margin: 30px auto;
		text-align: center;
	}
	
	.description h1 {
		color: black;
		margin-bottom: 12px;
	}
	
	.description p {
		line-height: 30px;
		margin: 15px 15px;
	}
	
	.content {
		position: relative;
		height: 400px;
	}
	
	.left {
		z-index: 333;
		width: 250px;
		position: absolute;
		left: 0px;
	}
	
	.left .content2 p {
		height: 70px;
		color: black;
	}
	
	.left .content2 {
		position: absolute;
		top: 70px;
		width: 250px;
		background: #222;
		height: 200px;
		border: 1px solid #222;
		opacity: 0.1;
	}
	
	.left .content1 {
		padding: 10px;
		position: absolute;
		top: 70px;
		width: 230px;
		height: 180px;
		opacity: 1;
	}
	
	.left .content1 .button {
		margin-top: 6px;
		text-align: center;
		line-height: 40px;
		width: 90px;
		color: white;
		background-color: black;
	}
	
	.middle {
		width: 500px;
		position: absolute;
		left: 200px;
	}
	
	.middle img {
		width: 500px;
	}
	
	.right {
		height: 300px;
		width: 250px;
		position: absolute;
		left: 750px;
	}
	
	.description2 {
		border: 2px solid #07CBC9;
		color: #9D948B;
		margin-bottom: 30px;
		padding-top: 30px;
		text-align: center;
	}
	
	.description2 h1 {
		color: black;
		margin-bottom: 12px;
	}
	
	.description2 p {
		line-height: 20px;
		margin: 15px 15px;
	}
	
	.table .item {
		position: relative;
		width: 25%;
		float: left;
		height: 400px;
	}
	
	.table .item .pic {
		position: absolute;
		width: 100%;
		height: 400px;
	}
	
	.table .item2 {
		position: relative;
		width: 25%;
		float: left;
		height: 400px;
		background: #07CBC9;
	}
	
	.jiao-left {
		top: 160px;
		z-index: 999;
		position: absolute;
		right: 0px;
		height: 0px;
		width: 0px;
		border-top: 20px solid transparent;
		border-right: 20px solid #07CBC9;
		border-bottom: 20px solid transparent;
	}
	
	.jiao-right {
		top: 160px;
		z-index: 999;
		position: absolute;
		left: 0px;
		height: 0px;
		width: 0px;
		border-top: 20px solid transparent;
		border-left: 20px solid #07CBC9;
		border-bottom: 20px solid transparent;
	}
	
	.pic-text {
		margin: 33px 33px;
		color: white;
	}
	
	.item2 .button {
		position: absolute;
		bottom: 50px;
		left: 50%;
		line-height: 40px;
		text-align: center;
		background: black;
		color: white;
		margin: 0 auto;
		width: 90px;
		margin-left: -45px;
	}